{
  "machine": {
    "gpu": 1,
    "cpu": 8000,
    "ram": 16000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
            "/run_ollama.sh", 
            {{ if .Prompt }} {{ .Prompt }} {{else}}"write a quick sort algorithm"{{ end }}
        ],
        "Image": "ghcr.io/rhochmayr/ollama-qwen2.5-coder-7b:1.0.0"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1",
        "cpu": "8",
        "memory": "16Gb"
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}